<a href="https://colab.research.google.com/github/theplace75/Section_project1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'

ktng_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
#df = pd.read_csv(ktng_url, names = headers)
df = pd.read_csv(url, header = None)

In [38]:
df_columns = df.iloc[0] #columns 값 저장

df.columns=df_columns #컬럼값 지정

df = df[1:]  # 표 정리

df

,NaN,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,1.0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
2,2.0,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
3,3.0,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
4,4.0,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
5,5.0,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...,...
16594,16594.0,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,16595.0,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16596,16596.0,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,16597.0,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,16598.0,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답을 하셔야합니다.

In [46]:
df1 = pd.DataFrame(df, columns = ['Genre', 'NA_Sales', 'EU_Sales','JP_Sales','Other_Sales'])
df1 = df1.sort_values(by=['Genre'])
df1 #장르가 결측치?

        Genre NA_Sales EU_Sales JP_Sales Other_Sales
1      Action     0.04        0        0           0
10069  Action     0.26     0.13        0        0.06
10063  Action     0.18     0.04        0        0.02
2292   Action        0     0.01        0           0
10062  Action     0.02     0.07        0        0.01
...       ...      ...      ...      ...         ...
15527     NaN        1     0.76     0.26        0.36
16092     NaN     0.14        0        0        0.01
16432     NaN     0.13        0        0        0.01
16556     NaN        0     0.03        0        0.01
16588     NaN     1.38      0.8        0         0.1

[16598 rows x 5 columns]

2. 연도별 게임의 트렌드가 있을까 라는 질문에 대답을 하셔야합니다.

In [ ]:
df1 = pd.DataFrame(df, columns = ['Genre', 'NA_Sales', 'EU_Sales','JP_Sales','Other_Sales'])
df1 = df1.sort_values(by=['Genre'])

3. 출고량이 높은 게임에 대한 분석 및 시각화 프로세스가 포함되어야 합니다.